@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

@supports (font-variation-settings: normal) {
    h1, h2, h3, h4, p {
        font-family: 'Fira Code VF', monospace;
    }
}
body {
    background-color: #010C15;
    color: #E5E9F0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
    background-image: url('/src/assets/bg-colors.svg');
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 70%;
}
.nav-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
    border-top: 1px solid #1E2D3D;
    border-bottom: 1px solid #1E2D3D;
    position: fixed;
    width: 100vw;
    z-index: 2;
    background-color: #011627e5;
}
#top-nav-container {
    top: 0;
}
#top-navbar {
    width: 100%;
    color: #607B96;
    background-color: #011627;
}
#nav-row {
    width: 100vw;
}
#top-navbar a {
    color: #607B96;
    text-decoration: none;
}
#top-navbar a:active {
    color: #E5E9F0;
}
#top-navbar a:hover {
    color: #E5E9F0;
}
#top-navbar a:active {
    color: #E5E9F0;
}
#top-navbar ul {
    padding-inline-start: 0;
    box-sizing: border-box;
    margin: 0;
}
#top-navbar li {
    float: left;
    padding: 1rem 1.5rem 1rem 1.5rem;
    box-sizing: border-box;
    border-left: 1px solid #1E2D3D;
    border-right: 1px solid #1E2D3D;
    list-style: none;
}
#top-navbar li:first-of-type {
    border-left: 0;
    box-sizing: border-box;
    width: 17vw;
}
#top-navbar li:last-of-type {
    border-right: 0;
    margin-left: auto;
}
#home-main {
    margin-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    box-sizing: border-box;
}
#welcome-section {
    height: 80vh;
}
#welcome-text {
    color: #607B96;
}
h1 {
    font-size: 2.5rem;
    margin: 0rem;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.flex-row-start {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
}
.gap-1 {
    gap: 1rem;
    margin-bottom: 1rem;
}
.centered-img {
    vertical-align: middle;
    margin-left: .5rem;
    margin-right: .5rem;
}
.item-column {
    display: flex;
    flex-flow: column wrap;
}
.bordered {
    border: 1px solid #1E2D3D;
}
#full-stack-title {
    color: #4D5BCE;
    font-size: 2rem;
    font-style: normal;
    font-weight: 450;
    line-height: auto;
    margin: 0;
}
#welcome-left {
    text-align: left;
    width: 50%;
}
#welcome-right {
    width: 50%;
}
#welcome{
    margin: .5rem 0 .5rem 0;
}
#const {
    color: #4D5BCE;
}
#gitlink {
    color: #43D9AD;
}
#link a {
    color: #E99287;
    text-decoration: none;
}
#metal-block {
    border-radius: 0.5rem;
    border: 1px solid #0C1616;
    background: linear-gradient(154deg, rgba(23, 85, 83, 0.70) 0%, rgba(67, 217, 173, 0.09) 100%);
    box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.30) inset;
    backdrop-filter: blur(32px);
    width: 31rem;
    height: 31rem;
    gap: 2rem;;
}
#metal-block-content {
    justify-content: space-between;
    align-items: start;
}
.yellow-button {
    display: inline-flex;
    padding: 0.625rem 0.875rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.5rem;
    background: #FEA55F;
    border: 0;
    color: #01080E;
    text-align: right;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}
#metal-block-content-left {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 25.3325rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    background: rgba(1, 22, 39, 0.84);
    box-shadow: 1px 5px 11px 0px rgba(2, 18, 27, 0.71) inset;
    margin-left: 2rem;
}
#metal-block-content-right {
    width: 11rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 25.3325rem;
    flex-shrink: 0;
    margin-right: 2rem;
}
#commands-container {
    border-radius: 0.5rem;
    background: rgba(1, 20, 35, 0.19);
    padding: .7rem;
}
#game-instructions {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}
.home-blur {
    fill: #4D5BCE;
    opacity: 0.4;
    filter: blur(87px);
}

#metal-block-top {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
#bolt-up-left {
    margin: .5rem auto .5rem .5rem;
}
#bolt-up-right {
    margin: .5rem .5rem .5rem auto;
}
#metal-block-bottom {
    margin-top: auto;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
#food-left {
    margin-top: 2rem;
}
#snake-food {
    width: 10rem;
}
#skip-button-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    align-items: end;
}
#bottom-nav-container {
    bottom: 0;
}
#bottom-navbar {
    width: 100%;
    color: #607B96;
    background-color: #011627;
    bottom: 0;
}

#nav-row {
    width: 100vw;
}

#bottom-navbar a {
    color: #607B96;
    text-decoration: none;
}

#bottom-navbar a:active {
    color: #E5E9F0;
}

#bottom-navbar a:hover {
    color: #E5E9F0;
}

#bottom-navbar a:active {
    color: #E5E9F0;
}

#bottom-navbar ul {
    padding-inline-start: 0;
    box-sizing: border-box;
    margin: 0;
}

#bottom-navbar li {
    float: left;
    padding: 1rem 1.5rem 1rem 1.5rem;
    box-sizing: border-box;
    border-left: 1px solid #1E2D3D;
    border-right: 1px solid #1E2D3D;
    list-style: none;
}

#bottom-navbar li:first-of-type {
    border-left: 0;
    box-sizing: border-box;
    width: 17vw;
}

#bottom-navbar li:last-of-type {
    border-right: 0;
    margin-left: auto;
}
.noli {
    list-style: none;
}
#git-link:visited {
    color: #E5E9F0;
}
#central-footer-li {
    min-height: 5vh;
    padding: 0;
    box-sizing: border-box;
    width: 65vw;
    text-align: center;
}

/* page about */
#about-main-container {
    display: flex;
    flex-flow: row wrap;
    /* align-items: center; */
    /* justify-content: center; */
    margin: 1rem 0 0 1rem;
    padding: auto;
    width: 90vw;
    border: 1px solid #1E2D3D;
    border-radius: 0.5rem;
    background-color: #011627;
}
#yann-guenot {
    width: 17vw;
}
#about-top-bar div {
    height: 3.125rem;
    align-items: center;
    border-bottom: 1px solid #1E2D3D;
}
#over-snippet-bar {
    width: 30vw;
    border: 1px solid #1E2D3D;
}
#about-main {
    box-sizing: border-box;
    background-color: #011627;
}
#about-content {
    align-items: start;
}
#bio-personal-info {
    width: 17vw;
    border-top: 1px solid #1E2D3D;
    border-left: 0;
    padding-left: 40px;
    box-sizing: border-box;

}
#bio-contacts {
    padding-left: 40px;
}
#bio-col-1 {
    width: 17vw;
    border-top: 1px solid #1E2D3D;
    border-bottom: 1px solid #1E2D3D;
    padding: 1rem;
    box-sizing: border-box;
}
#bio-col-2 {
    width: 40vw;
}
#bio-col-3 {
    width: 30vw;
    color: #607B96;
}
.bio-items {
    display: flex;
    flex-flow: column wrap;
    width: 20vw;
}
#about-nav {
    display: flex;
    flex-flow: row wrap;
    width: 40vw;
    border: 1px solid #1E2D3D;
}
#personal-info-close {
    margin-left: auto;
}
.code {
    color: #607B96;
    font-size: 1.125rem;
}
.thin-para {
    margin: 0;
}
.violet {
    color: #5565E8;
}
.salmon {
    color: #E99287;
}
.pink {
    color: #C98BDF;
}
.orange {
    color: #FEA55F;
}
.green {
    color: #43D9AD;
}
#about-username {
    font-size: .875rem;
}
#about-created-at {
    font-size: .75rem;
}
.about-code-block {
    border-radius: 0.9375rem;
    border: 1px solid #1E2D3D;
    background: #011221;
    padding: 1.5rem 1.85rem 1.5rem 1.85rem;
    text-align: left;
}

/* projects */
input[type="checkbox"] {
    display: none;
}
.checkmark {
    min-width: 1.15rem;
    min-height: 1.15rem;
    border: 1px solid #1E2D3D;
    background: #011627;
    border-radius: .13rem;
}
input:checked .checkmark {
    background-color: #2196F3;
}
#projects-container {
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}
.project-container {
    max-width: 22vw;
    background: #011221;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #1E2D3D;
    border-radius: 15px 15px 15px 15px;
}
.project-pic {
    height: 9rem;
    border-radius: 15px 15px 0 0;
    border: 0;
}
#project-1-pic {
    background-image: url(./assets/project-img-01.svg);
    background-size: cover;
}
#project-2-pic {
    background-image: url(./assets/project-img-02.svg);
}
#project-3-pic {
    background-image: url(./assets/project-img-03.svg);
}
.project-excerpt {
    padding: 1rem;
}
.grey-button {
    display: inline-flex;
    padding: 0.625rem 0.875rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.5rem;
    border: 0;
    background: #1C2B3A;
    color: #FFF;
    text-align: right;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin-left: 1.94rem;
    margin-bottom: 1.97rem;
}
.skip-button {
    display: inline-flex;
    padding: 0.625rem 0.875rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.5rem;
    border: 1px solid #FFF;
    background-color: transparent;
    color: #FFF;
}

/*contact*/

.contacts-items {
    margin-bottom: 1rem;
    color: #607B96;
}
#contact-form-container {
    color: #607B96;
            margin-left: 8rem;
            margin-right: 8rem;
}
#contact-form-container label {
    margin-bottom: .6rem;
}
#contact-form-container input{
    width: 23.25rem;
        height: 2.5625rem;
        flex-shrink: 0;
        border-radius: 0.5rem;
            border: 1px solid #607B96;
            background: #011221;
            box-shadow: 0px 0px 0px 2px rgba(96, 123, 150, 0.30);
            margin-bottom: 1.5rem;
}
#contact-form-container textarea{
    width: 23.25rem;
        flex-shrink: 0;
        border-radius: 0.5rem;
            border: 1px solid #607B96;
            background: #011221;
            box-shadow: 0px 0px 0px 2px rgba(96, 123, 150, 0.30);
}
#contact-form-displayer {
    width: 29vw;
    padding: 1rem;
}