@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

@supports (font-variation-settings: normal) {

  h1,
  h2,
  h3,
  h4,
  p {
    font-family: 'Fira Code VF', monospace;
  }

  body {
    background-color: #010c15;
    color: #e5e9f0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
    background-image: url('/assets/bg-colors.svg');
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 70%;
  }

  a {
    color: inherit;
  }

  /* div {
    border: 1px solid transparent;
  }

  div:hover {
    border: 1px solid white;
  } */

  .nav-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
    border-top: 1px solid #1e2d3d;
    border-bottom: 1px solid #1e2d3d;
    position: fixed;
    width: 100vw;
    z-index: 2;
  }

  input,
  textarea {
    color: #fff;
  }

  #contact-form {
    width: 35vw;
  }

  #contact-form-container input.error {
    outline: 2px solid #e99287;
    color: #607b96;
    box-shadow: none;
  }

  #contact-form-container textarea.error {
    outline: 2px solid #e99287;
    box-shadow: none;
  }

  aside {
    align-items: start;
  }

  #top-nav-container {
    top: 0;
  }

  #top-navbar {
    width: 100%;
    color: #607b96;
  }

  #nav-row {
    width: 100vw;
  }

  #top-navbar a {
    color: #607b96;
    text-decoration: none;
  }

  #top-navbar a:active {
    color: #e5e9f0;
  }

  #top-navbar a:hover {
    color: #e5e9f0;
  }

  #top-navbar a:active {
    color: #e5e9f0;
  }

  #top-navbar .bm-menu {
    background-color: #011627;
    border-right: 1px solid #607b96;
  }

  #top-navbar ul {
    padding-inline-start: 0;
    box-sizing: border-box;
    margin: 0;
  }

  #top-navbar li {
    float: left;
    padding: 1rem 1.5rem 1rem 1.5rem;
    box-sizing: border-box;
    border-left: 1px solid #1e2d3d;
    border-right: 1px solid #1e2d3d;
    list-style: none;
  }

  #top-navbar li:first-of-type {
    border-left: 0;
    box-sizing: border-box;
    width: 17vw;
  }

  #top-navbar li:last-of-type {
    border-right: 0;
  }

  #home-main {
    margin-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    box-sizing: border-box;
  }

  #homepage {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }

  #welcome-section {
    height: 75vh;
    width: 100%;
  }

  #welcome-text {
    color: #607b96;
  }

  h1 {
    font-size: 2.5rem;
    margin: 0rem;
  }

  .flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .flex-row-start {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: start;
  }

  .gap-1 {
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .centered-img {
    vertical-align: middle;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .item-column {
    display: flex;
    flex-flow: column wrap;
  }

  .bordered {
    border: 1px solid #1e2d3d;
  }

  #full-stack-title {
    color: #4d5bce;
    font-size: 2rem;
    font-style: normal;
    font-weight: 450;
    line-height: auto;
    margin: 0;
  }

  #welcome-left {
    text-align: left;
    width: 50%;
    padding-left: 4rem;
  }

  #welcome-right {
    width: 50%;
  }

  #welcome {
    margin: 0.5rem 0 0.5rem 0;
  }

  #const {
    color: #4d5bce;
  }

  #gitlink {
    color: #43d9ad;
  }

  #link a {
    color: #e99287;
    text-decoration: none;
  }

  #navbar-container>#menu-contact {
    margin-left: auto;
  }

  #metal-block {
    border-radius: 0.5rem;
    border: 1px solid #0c1616;
    background: linear-gradient(154deg, rgba(23, 85, 83, 0.7) 0%, rgba(67, 217, 173, 0.09) 100%);
    box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.3) inset;
    backdrop-filter: blur(32px);
    width: 31rem;
    height: 31rem;
    gap: 2rem;
  }

  #metal-block-content {
    justify-content: space-between;
    align-items: start;
  }

  .yellow-button {
    display: inline-flex;
    padding: 0.625rem 0.875rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.5rem;
    background: #fea55f;
    border: 0;
    color: #01080e;
    text-align: right;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
  }

  #metal-block-content-left {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 25.3325rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    background: rgba(1, 22, 39, 0.84);
    box-shadow: 1px 5px 11px 0px rgba(2, 18, 27, 0.71) inset;
    margin-left: 2rem;
  }

  #metal-block-content-right {
    width: 11rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 25.3325rem;
    flex-shrink: 0;
    margin-right: 2rem;
  }

  #commands-container {
    border-radius: 0.5rem;
    background: rgba(1, 20, 35, 0.19);
    padding: 0.7rem;
  }

  #game-instructions {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
  }

  .home-blur {
    fill: #4d5bce;
    opacity: 0.4;
    filter: blur(87px);
  }

  #metal-block-top {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  #bolt-up-left {
    margin: 0.5rem auto 0.5rem 0.5rem;
  }

  #bolt-up-right {
    margin: 0.5rem 0.5rem 0.5rem auto;
  }

  #metal-block-bottom {
    margin-top: auto;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  #food-left {
    margin-top: 2rem;
  }

  #snake-food {
    width: 10rem;
  }

  #skip-button-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    align-items: end;
  }

  #nav-row {
    width: 100vw;
  }

  footer {
    color: #607b96;
  }

  #bottom-navbar a {
    color: #607b96;
    text-decoration: none;
  }

  #bottom-navbar a:hover {
    color: #e5e9f0;
  }

  #bottom-navbar ul {
    padding-inline-start: 0;
    box-sizing: border-box;
    margin: 0;
  }

  #bottom-navbar {
    margin-top: auto;
  }

  #bottom-navbar li {
    float: left;
    padding: 1rem 1.5rem 1rem 1.5rem;
    box-sizing: border-box;
    border-left: 1px solid #1e2d3d;
    border-right: 1px solid #1e2d3d;
    list-style: none;
  }

  #bottom-navbar li:first-of-type {
    border-left: 0;
    box-sizing: border-box;
    width: 17vw;
  }

  #bottom-navbar li:last-of-type {
    border-right: 0;
    margin-left: auto;
    text-align: right;
  }

  .noli {
    list-style: none;
  }

  #git-link {
    margin-left: auto;
  }

  #git-link:visited {
    color: #607b96;
  }

  #linkedin-link:visited {
    color: #607b96;
  }

  #logo-git {
    margin-right: 0.2rem;
    vertical-align: middle;
  }

  #logo-linkedin {
    margin-right: 0.2rem;
    vertical-align: middle;
  }

  #central-footer-li {
    min-height: 5vh;
    padding: 0;
    box-sizing: border-box;
    width: 65vw;
    text-align: center;
    display: none;
  }

  /* page about */
  #about-main-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0 1rem;
    padding: 0;
    width: 90vw;
    border: 1px solid #1e2d3d;
    border-radius: 0.5rem;
    margin: 0;
  }

  #yann-guenot {
    width: 17vw;
  }

  #about-top-bar div {
    height: 3.125rem;
    align-items: center;
    border-bottom: 1px solid #1e2d3d;
  }

  #over-snippet-bar {
    width: 30vw;
    border: 1px solid #1e2d3d;
  }

  #about-main {
    box-sizing: border-box;
  }

  #about-content {
    align-items: start;
  }

  #bio-personal-info {
    width: 17vw;
    border-left: 0;
    padding-left: 40px;
    box-sizing: border-box;
  }

  #bio-contacts {
    padding-left: 40px;
  }

  #left-aside-container {
    width: 17vw;
    border-top: 1px solid #1e2d3d;
    border-bottom: 1px solid #1e2d3d;
    padding: 1rem;
    box-sizing: border-box;
  }

  #bio-col-2 {
    width: 30vw;
  }

  #bio-col-3 {
    width: 30vw;
    color: #607b96;
  }

  .bio-items {
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: start;
    width: 20vw;
  }

  #about-nav {
    display: flex;
    flex-flow: row wrap;
    width: 40vw;
  }

  #personal-info-close {
    margin-left: auto;
  }

  .code {
    color: #607b96;
    font-size: 1.125rem;
  }

  .hljs {
    font-family: 'Fira Code', monospace;
  }

  #contact-form-displayer .hljs-keyword {
    color: #c98bdf;
  }

  #contact-form-displayer .hljs-string {
    color: #fea55f;
  }

  #contact-form-displayer .hljs-attr {
    color: #43d9ad;
  }

  .thin-para {
    margin: 0;
  }

  .violet {
    color: #5565e8;
  }

  .grey {
    color: #607b96;
  }

  .salmon {
    color: #e99287;
  }

  .pink {
    color: #c98bdf;
  }

  .orange {
    color: #fea55f;
  }

  .green {
    color: #43d9ad;
  }

  #about-username {
    font-size: 0.875rem;
  }

  #about-created-at {
    font-size: 0.75rem;
  }

  .about-code-block {
    border-radius: 0.9375rem;
    border: 1px solid #1e2d3d;
    background: #011221;
    padding: 1.5rem 1.85rem 1.5rem 1.85rem;
    text-align: left;
  }

  /* projects */
  #technos-selector {
    margin-top: 2rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: start;
    width: 14vw;
  }


  input[type='radio'] {
    padding: 0.2rem;
    width: 1.5em;
    height: 1.5em;
    border-radius: 0.125rem;
    border: 1px solid #607b96;
    vertical-align: middle;
    accent-color: #4d5bce;
  }

  input[type='checkbox']:checked {
    width: 1.5em;
    height: 1.5em;
    background-color: #607b96;
    border: 1px solid #607b96;
    content: url(/assets/check-icon.svg);
  }

  .project-thumb {
    width: 32%;
  }

  #projects-container {
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: start;
    width: 75vw;
    min-height: 50vh;
    margin-bottom: 4rem;
  }

  .project-container {
    max-width: 371px;
    background: #011221;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #1e2d3d;
    border-radius: 15px 15px 15px 15px;
  }

  .project-pic {
    height: 9rem;
    border-radius: 15px 15px 0 0;
    border: 0;
  }

  .project-excerpt {
    padding: 1rem;
    font-style: italic;
    font-size: 1em;
  }

  .project-content {
    font-style: normal;
    font-size: 1.2em;
  }

  .grey-button {
    display: inline-flex;
    padding: 0.625rem 0.875rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.5rem;
    border-width: 0;
    background: #1c2b3a;
    color: #fff;
    text-align: right;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin-bottom: 1.97rem;
  }

  .skip-button {
    display: inline-flex;
    padding: 0.625rem 0.875rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.5rem;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
  }

  .project-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
  }

  /*contact*/

  .contacts-items {
    margin-bottom: 1rem;
    color: #607b96;
  }

  #contact-form-container {
    color: #607b96;
    /* margin-left: 8rem;
    margin-right: 8rem; */
  }

  #contact-form-container label {
    margin-bottom: 0.6rem;
  }

  #contact-form-container input {
    width: 23.25rem;
    height: 2.5625rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    border: 1px solid #607b96;
    background: #011221;
    box-shadow: 0px 0px 0px 2px rgba(96, 123, 150, 0.3);
    margin-bottom: 1.5rem;
  }

  #contact-form-container textarea {
    width: 23.25rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    border: 1px solid #607b96;
    background: #011221;
    box-shadow: 0px 0px 0px 2px rgba(96, 123, 150, 0.3);
  }

  #submit-btn {
    margin-top: 2rem;
    color: #fea55f;
  }

  #submit-btn:hover {
    color: #c98bdf;
  }

  #contact-form-displayer {
    font-family: 'Fira Code', monospace;
    width: fit-content;
    padding: 1rem;
  }

  .valid {
    color: #43d9ad;
  }

  .error {
    color: #e99287;
  }

  @media (max-width: 1200px) {
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      background-image: url(/assets/bg-colors-mobile.svg);
      background-position-x: 57%;
      background-position-y: -36%;
      background-size: cover;
      background-repeat: no-repeat;
    }

    #app {
      display: flex;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
      position: initial;
      box-sizing: border-box;
    }

    div {
      border: 0;
    }

    div:hover {
      border: 0;
    }

    #navbar-container {
      flex-flow: column wrap;
    }

    #top-navbar a {
      color: #43d9ad;
      font-size: 0.9rem;
    }

    #top-navbar li {
      float: inline-start;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid #607b96;
      display: block;
      width: 100%;
    }

    #top-navbar #menu-login {
      margin-left: none !important;
    }

    #top-navbar li:first-of-type {
      width: 100%;
      height: 100px;
    }

    #bottom-navbar li:last-of-type {
      margin-left: 0;
      text-align: center;
    }

    #menu-login li {
      margin-left: none !important;
    }

    #welcome-right {
      display: none;
    }

    #welcome-section {
      height: auto;
    }

    #welcome-left {
      text-align: left;
      width: auto;
      padding-left: 2rem;
    }

    #welcome-section #welcome-left {
      text-align: left;
      padding-left: 0;
    }

    .hljs {
      text-wrap: wrap;
    }

    .bm-burger-button {
      position: relative;
      width: 36px;
      height: 30px;
      left: 30px;
      top: 30px;
      cursor: pointer;
      color: #607b96;
    }

    .bm-burger-button .bm-burger-bars {
      background-color: #607b96;
    }

    .bm-burger-button .bm-burger-bars {
      background-color: #607b96;
    }

    #about-main-container {
      /* width: 100vw;
      max-width: 100vw; */
      /* margin: 0; */
      justify-content: start;
      align-items: start;
      margin-bottom: 100px;
      width: initial;
    }

    #about-top-bar #bio-personal-info {
      width: fit-content;
      padding-left: 10px;
    }

    #about-top-bar #about-nav {
      width: fit-content;
    }

    #over-snippet-bar {
      width: 10vw;
    }

    #personal-info-close {
      box-sizing: border-box;
      padding-left: 1rem;
      margin-right: 10px;
    }

    #bio-folders {
      display: none;
    }

    #bio-col-3 {
      display: none;
    }

    #about-description {
      padding: 2rem 1rem 2rem 1rem;
      box-sizing: border-box;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      padding: 0;
    }

    #about-description #bio-col-2 {
      width: 82vw;
      border: none;
    }

    #about-top-bar {
      margin-top: 18vw;
    }

    #about-description #technos-selector {
      /* display: none; */
      width: fit-content;
      margin-right: auto;
    }


    #projects-container {
      flex-flow: column wrap;
    }

    .item-column #projects-container {
      width: auto;
    }

    .project-thumb {
      max-width: 100%;
      min-width: 100%;
    }

    .project-thumb .item-column {
      width: 100%;
    }

    #projects-container .project-container {
      max-width: 100%;
      min-width: 100%;
      margin-bottom: 3rem;
    }

    #contact-form-container {
      margin: 0;
      flex-flow: column wrap;
      width: 100%;
    }

    #contact-form {
      order: 3;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    #contact-form-container input {
      width: 100%;
    }

    #contact-form-container textarea {
      width: 100%;
    }

    #contact-form-inputs-container {
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    #contact-form-inputs-container .item-column {
      justify-content: center;
      align-items: center;
    }

    #contact-form-displayer {
      width: 100%;
      padding: 0;
    }

    #bio-col-1 {
      padding: 1rem;
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 1rem;
      background-color: #01080edd;
      border-radius: 0.5rem;
      border: 1px solid #607b96;
      align-items: center;
      justify-content: center;
    }

    #bio-col-1>div {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }

    #bio-col-1>div>div {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
    }

    #contact-form-inputs-container>form {
      width: 90%;
    }

    .project-pic {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
    }

    #central-footer-li {
      display: none;
    }

    #logo-git {
      margin-left: auto;
    }

    footer {
      position: fixed;
      bottom: 0;
      margin-top: auto;
      width: 100vw;
      background-color: #010c15;
      border-top: 1px solid #607b96;
    }



    #bottom-navbar li:first-of-type {
      width: auto;
    }

    #bottom-navbar li {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    #bottom-navbar li:nth-child(2) {
      width: fit-content;
      border-left: 0;
    }

    #find-me {
      display: none;
    }

    .project-buttons-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5em;
    }

    .grey-button {
      margin-left: 0;
    }
  }
}