@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

@supports (font-variation-settings: normal) {
    h1, h2, h3, h4, p {
        font-family: 'Fira Code VF', monospace;
    }
}
body {
    background-color: #010C15;
    color: #E5E9F0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
    background-image: url('/src/assets/blue.svg');
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 70%;

}

#top-navbar {
    min-height: 3.5rem;
    width: 100vw;
    color: #607B96;
}
#top-navbar a {
    color: #607B96;
    text-decoration: none;
}
#top-navbar a:active {
    color: #E5E9F0;
}
#top-navbar a:hover {
    color: #E5E9F0;
}
#top-navbar a:active {
    color: #E5E9F0;
}
#top-navbar ul {
    min-width: 100vw;
    padding-inline-start: 0;
    box-sizing: border-box;
}
#top-navbar li {
    float: left;
    padding: 1rem 2rem 1rem 2rem;
    box-sizing: border-box;
    border: 1px solid #607B96;
    list-style: none;
}
#top-navbar li:first-of-type {
    border-left: 0;
    padding-right: 5rem;
    box-sizing: border-box;
}
#top-navbar li:last-of-type {
    border-right: 0;
}
#home-main {
    padding-left: 5rem;
    padding-right: 5rem;
    box-sizing: border-box;
}
#welcome-section {
    height: 80vh;
}
#welcome-text {
    color: #607B96;
}
h1 {
    font-size: 2.5rem;
    margin: 0rem;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.item-column {
    display: flex;
    flex-flow: column wrap;
}
.bordered {
    border: 1px solid #E5E9F0;
}
#full-stack-title {
    color: #4D5BCE;
    font-size: 2rem;
    font-style: normal;
    font-weight: 450;
    line-height: auto;
    margin: 0;
}
#welcome-left {
    text-align: left;
    width: 50%;
}
#welcome-right {
    width: 50%;
}
#welcome{
    margin: .5rem 0 .5rem 0;
}
#const {
    color: #4D5BCE;
}
#gitlink {
    color: #43D9AD;
}
#link {
    color: #E99287;
}
#metal-block {
    border-radius: 0.5rem;
    border: 1px solid #0C1616;
    background: linear-gradient(154deg, rgba(23, 85, 83, 0.70) 0%, rgba(67, 217, 173, 0.09) 100%);
    box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.30) inset;
    backdrop-filter: blur(32px);
    width: 30rem;
    height: 30rem;
            
}
.home-blur {
    fill: #4D5BCE;
    opacity: 0.4;
    filter: blur(87px);
}

#metal-block-top {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
#bolt-up-left {
    margin: .5rem auto .5rem .5rem;
}
#bolt-up-right {
    margin: .5rem .5rem .5rem auto;
}
#metal-block-bottom {
    margin-top: auto;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
#metal-block-content {
    height: 24rem;
}
#bottom-navbar {
    min-height: 5vh;
    width: 100vw;
}

#bottom-navbar ul {
    min-width: 100vw;
    padding-inline-start: 0;
    box-sizing: border-box;
}

#bottom-navbar li {
    float: left;
    padding: 1rem 2rem 1rem 2rem;
    box-sizing: border-box;
    border: 1px solid #607B96;
    list-style: none;
}
.noli {
    list-style: none;
}
#bottom-navbar li:first-of-type {
    border-left: 0;
    padding-right: 5rem;
    box-sizing: border-box;
}

#bottom-navbar li:last-of-type {
    border-right: 0;
    margin-left: auto;
}
#git-link:visited {
    color: #E5E9F0;
}
#central-footer-li {
    min-height: 5vh;
    padding: 0;
    box-sizing: border-box;
    width: 65vw;
    text-align: center;
}

/* page about */

#about-main {
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    border: 2px solid wheat;
}
#bio-col-1 {
    width: 20%;
}
#bio-col-2 {
    width: 50%;
}
#bio-col-3 {
    width: 10%;
}
.bio-items {
    display: flex;
    flex-flow: column wrap;
    border: 1px solid #607B96;
}
#about-nav {
    display: flex;
    flex-flow: row wrap;
    width: 20vw;
    border: 1px solid #607B96;
}
#personal-info-close {
    margin-left: auto;
}